/*
==============================================================================
    NextITS: Pipeline to process fungal ITS amplicons
==============================================================================
    Default config options for all compute environments
------------------------------------------------------------------------------
*/


// Global default params, used in configs
params {

    // Boilerplate options
    tracedir                   = "${params.outdir}/pipeline_info"
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    help                       = false
    validate_params            = true
    show_hidden_params         = false
    enable_conda               = false

}


// Process-specific parameters
process {

    // QC
    withName:qc_se{
        cpus = 10
    }
    withName:qc_pe{
        // max threads for fastp = 16
        cpus = 10
    }

    // Primer disambiguation
    withName:disambiguate{
        cpus = 1
    }

    // Demultiplexing of PacBio reads (with LIMA)
    withName:demux{
        cpus = 10
    }

    // Demultiplexing merged Illumina reads
    withName:demux_illumina{
        cpus = 10
    }

    // Demultiplexing non-merged Illumina reads
    withName:demux_illumina_notmerged{
        cpus = 10
    }

    // Merging of Illumina PE reads
    withName:merge_pe{
        cpus = 10
    }
    
    // Modify barcodes for cutadapt (Illumina only)
    withName:prep_barcodes{
        cpus = 1
    }

   // Demultiplexing of Illumina reads (with cutadapt)
    withName:demux_illumina{
        cpus = 10
    }

    // Check primers
    withName:primer_check{
        cpus = 1
    }

    // ITSx
    withName:itsx{
        cpus = 2
    }

    // Sequence quality tables
    withName:seq_qual{
        cpus = 1
    }

    // Homopolymer compression
    withName:homopolymer {
        cpus = 1
    }

    // Reference-based chimera removal
    withName:chimera_ref {
        cpus = 1
    }

    // Chimera rescue
    withName:chimera_rescue {
        cpus = 1
    }

    // De novo chimera search
    withName:chimera_denovo {
        cpus = 1
    }

    // Aggregate de novo chimeras
    withName:chimera_denovo_agg {
        cpus = 1
    }

    // Global dereplication
    withName:glob_derep {
        cpus = 1
    }

    // Pool sequences (for ASV table)
    withName:pool_seqs {
        cpus = 3
    }

    // OTU clustering
    withName:otu_clust {
        cpus = 10
    }

    // Create OTU table
    withName:otu_tab {
        cpus = 10
    }

    // Tag-jump removal
    withName:tj {
        cpus = 1
    }

    // Create ASV table
     withName:prep_asvtab {
        cpus = 1
    }

    // Read count summary
    withName:read_counts {
        cpus = 5
    }

    // BLASTn
    withName:blastn {
        cpus = 1
    }

    // Parse BLAST results
    withName:parse_blast {
        cpus = 1
    }


}  // end of process configs




profiles {

    // Singularity-based profile
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false

        // Container specifications are here
        includeConfig 'conf/singularity.config'
    }

}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}
