config {
    
    // location for all nf-test tests
    testsDir   "tests"

    // nf-test directory including temporary files for each test
    workDir    System.getenv("NFT_WORKDIR") ?: "/tmp/nextits-nf-test"

    // location of an optional nextflow.config file specific for executing tests
    configFile "tests/nextflow.config"
    
    // run all test with Docker profile (defined in the main `nextflow.config`)
    profile    "docker"
    
    withTrace  false

    // list of filenames or patterns that should trigger a full test run
    triggers   'main.nf', 'nextflow.config', 'nextflow_schema.json',
                 'conf/test_step*.config', 'conf/docker.config',
                 'workflows/**', 'subworkflows/**', 'modules/**',
                 'bin/*', 'test_data/**'
   

    requires("nf-test": "0.9.5")

    plugins {
        load "nft-fasta@1.0.0"         // https://github.com/askimed/nft-fasta
        load "nft-fastq@0.1.0"         // https://github.com/lukfor/nft-fastq
        load "nft-csv@0.1.0"           // https://github.com/lukfor/nft-csv
        // load "nft-utils@1.0.0"      // https://github.com/nf-core/nft-utils
        // load "nft-parquet@0.0.1"    // https://github.com/incsteps/nft-parquet
    }
}
