/*
 * -----------------------------------------------------------
 *  Config file for execution on HPC
 * -----------------------------------------------------------
 * Specification for a larger resource amount (e.g., CPU number) for each process
 *
 */

// HPC-specific params
params {
    max_cpus   = 60
    max_memory = "200.GB"
    max_time   = "240.h"
}

// Process configuration
process {

    ////////// Step-1 processes

    // Converting BAM to FASTQ
    withName: 'S1:bam2fastq' {
        cpus = 12
    }

    // Primer disambiguation
    withName: 'S1:disambiguate' {
        cpus   = 1
    }

    // Validate tags for demultiplexing
    withName: 'S1:tag_validation' {
        cpus = 1
    }

    // QC - PacBio single-end reads
    // vsearch currently does not suppot multithreading for `--fastq_filter`
    // see https://github.com/torognes/vsearch/issues/466
    withName: 'S1:qc_se' {
        cpus = 1
    }

    // QC - Illumina paired-end reads
    withName: 'S1:qc_pe' {
        // max threads for fastp = 16
        cpus = 12
    }

    // Demultiplexing of PacBio reads (with LIMA)
    withName: 'S1:demux' {
        cpus = 12
    }

    // Demultiplexing merged Illumina reads
    withName: 'S1:demux_illumina' {
        cpus = 16
    }

    // Demultiplexing non-merged Illumina reads
    withName: 'S1:demux_illumina_notmerged' {
        cpus = 10
    }

    // Merging of Illumina PE reads
    withName: 'S1:merge_pe' {
        cpus = 8
    }
    
   // Demultiplexing of Illumina reads (with cutadapt)
    withName: 'S1:demux_illumina' {
        cpus = 16
    }

    // Check primers
    withName: 'S1:primer_check' {
        cpus = 1
    }

    // ITSx
    withName: 'S1:itsx' {
        cpus = 6
    }

    // Collect all ITS parts extracted by ITSx
    withName: 'S1:itsx_collect' {
        cpus = 1
    }

    // Sequence quality tables
    withName: 'S1:seq_qual' {
        cpus   = 6
        memory = null
    }

    // Homopolymer compression
    withName: 'S1:homopolymer' {
        cpus = 2
    }

    // Reference-based chimera removal
    withName: 'S1:chimera_ref' {
        cpus = 4
    }

    // Chimera rescue
    withName: 'S1:chimera_rescue' {
        cpus = 1
    }

    // De novo chimera search
    withName: 'S1:chimera_denovo' {
        cpus = 1
    }

    // Aggregate de novo chimeras
    withName: 'S1:chimera_denovo_agg' {
        cpus = 1
    }

    // Global dereplication
    withName: 'S1:glob_derep' {
        cpus = 1
    }

    // OTU clustering
    withName: 'S1:tj_preclust' {
        cpus = 20
    }

    // Tag-jump removal
    withName: 'S1:tj' {
        cpus = 1
    }

    // Create sequence table
    withName: 'S1:prep_seqtab' {
        cpus = 8
    }

    // Read count summary
    withName: 'S1:read_counts' {
        cpus = 4
    }


    ////////// Step-2 processes

    // Aggregate sequences, remove de novo chimeras
    withName: 'S2:aggregate_sequences' {
        cpus = 8
    }

    // Dereplication (only comression is multithreaded)
    withName: 'S2:dereplication' {
        cpus = 20
    }

    // 100% clustering with sequence length variation allowed (UNITE-style)
    withName: 'S2:dereplication_unite' {
        cpus = 20
    }

    // Pre-clustering
    withName: 'S2:linclust' {
        cpus = 8
    }

    // Bucketize sequences into clusters
    withName: 'S2:bucketize' {
        cpus = 6
    }

    // UNOISE
    withName: 'S2:CLUSTERING:unoise' {
        cpus = 20
    }

    // DADA2
    withName: 'S2:CLUSTERING:dada2' {
        cpus = 20
    }

    // VSEARCH clustering
    withName: 'S2:CLUSTERING:cluster_vsearch'  {
        cpus = 20
    }

    // SWARM clustering
    withName: 'S2:CLUSTERING:cluster_swarm' {
        cpus = 20
    }

    // Summarize sequence abundance by OTU
    withName: 'S2:summarize' {
        cpus = 12
    }

    // Post-clustering curation with LULU
    withName: 'S2:lulu' {
        cpus = 20
    }

}

