/*
 * -----------------------------------------------------------
 *  Config file for execution on HPC
 * -----------------------------------------------------------
 * Specification for a larger resource amount (e.g., CPU number) for each process
 *
 */

// HPC-specific params
params {
    max_cpus   = 60
    max_memory = "200.GB"
    max_time   = "240.h"
}

// Process configuration
process {

    ////////// Step-1 processes

    // Converting BAM to FASTQ
    withName:bam2fastq{
        cpus = 12
    }

    // Primer disambiguation
    withName:disambiguate{
        cpus   = 1
    }

    // Validate tags for demultiplexing
    withName:tag_validation{
        cpus = 1
    }

    // QC - PacBio single-end reads
    // vsearch currently does not suppot multithreading for `--fastq_filter`
    // see https://github.com/torognes/vsearch/issues/466
    withName:qc_se{
        cpus = 1
    }

    // QC - Illumina paired-end reads
    withName:qc_pe{
        // max threads for fastp = 16
        cpus = 12
    }

    // Demultiplexing of PacBio reads (with LIMA)
    withName:demux{
        cpus = 12
    }

    // Demultiplexing merged Illumina reads
    withName:demux_illumina{
        cpus = 16
    }

    // Demultiplexing non-merged Illumina reads
    withName:demux_illumina_notmerged{
        cpus = 10
    }

    // Merging of Illumina PE reads
    withName:merge_pe{
        cpus = 8
    }
    
   // Demultiplexing of Illumina reads (with cutadapt)
    withName:demux_illumina{
        cpus = 16
    }

    // Check primers
    withName:primer_check{
        cpus = 1
    }

    // ITSx
    withName:itsx{
        cpus = 6
    }

    // Collect all ITS parts extracted by ITSx
    withName:itsx_collect {
        cpus = 1
    }

    // Sequence quality tables
    withName:seq_qual{
        cpus   = 6
        memory = null
    }

    // Homopolymer compression
    withName:homopolymer {
        cpus = 2
    }

    // Reference-based chimera removal
    withName:chimera_ref {
        cpus = 4
    }

    // Chimera rescue
    withName:chimera_rescue {
        cpus = 1
    }

    // De novo chimera search
    withName:chimera_denovo {
        cpus = 1
    }

    // Aggregate de novo chimeras
    withName:chimera_denovo_agg {
        cpus = 1
    }

    // Global dereplication
    withName:glob_derep {
        cpus = 1
    }

    // OTU clustering
    withName:otu_clust {
        cpus = 20
    }

    // Create OTU table
    withName:otu_tab {
        cpus = 16
    }

    // Tag-jump removal
    withName:tj {
        cpus = 1
    }

    // Create sequence table
     withName:prep_seqtab {
        cpus = 1
    }

    // Read count summary
    withName:read_counts {
        cpus = 4
    }


    ////////// Step-2 processes

    withName:dereplication {
        cpus = 20
    }

    // 100% clustering with sequence length variation allowed (UNITE-style)
    withName:dereplication_unite {
        cpus = 20
    }

    // UNOISE
    withName:unoise {
        cpus = 20
    }

    // VSEARCH clustering
    withName:cluster_vsearch {
        cpus = 20
    }

    // SWARM clustering
    withName:cluster_swarm {
        cpus = 20
    }

    // Summarize sequence abundance by OTU
    withName:summarize {
        cpus = 12
    }

    // Post-clustering curation with LULU
    withName:lulu {
        cpus = 20
    }

}

