/*
 * -----------------------------------------------------------
 *  Config file for execution on HPC
 * -----------------------------------------------------------
 * Specification for a larger resource amount (e.g., CPU number) for each process
 *
 */


process {

    ////////// Step-1 processes


    // QC - Illumina paired-end reads
    withName:qc_pe{
        // max threads for fastp = 16
        cpus = 12
    }

    // Demultiplexing of PacBio reads (with LIMA)
    withName:demux{
        cpus = 12
    }

    // Demultiplexing merged Illumina reads
    withName:demux_illumina{
        cpus = 16
    }

    // Demultiplexing non-merged Illumina reads
    withName:demux_illumina_notmerged{
        cpus = 10
    }

    // Merging of Illumina PE reads
    withName:merge_pe{
        cpus = 8
    }
    
   // Demultiplexing of Illumina reads (with cutadapt)
    withName:demux_illumina{
        cpus = 16
    }

    // ITSx
    withName:itsx{
        cpus = 6
    }

    // OTU clustering
    withName:otu_clust {
        cpus = 20
    }

    // Create OTU table
    withName:otu_tab {
        cpus = 16
    }


    ////////// Step-2 processes

    // 100% clustering with sequence length variation allowed (UNITE-style)
    withName:dereplication_unite {
        cpus = 20
    }

    // UNOISE
    withName:unoise {
        cpus = 20
    }

    // VSEARCH clustering
    withName:cluster_vsearch {
        cpus = 20
    }

    // SWARM clustering
    withName:cluster_swarm {
        cpus = 20
    }

    // Summarize sequence abundance by OTU
    withName:summarize {
        cpus = 12
    }

    // Post-clustering curation with LULU
    withName:lulu {
        cpus = 20
    }

}


