/*
This file includes default values for the NextITS pipeline parameters
*/


params {

    step = "Step1"         // default pipeline step to run

    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  Step-1 parameters

    // Input files
    input    = null        // FASTQ file or directory
    input_R1 = null
    input_R2 = null
    barcodes = null        // FASTA file

    // Output
    outdir   = "${launchDir}/results"
    tracedir = "${params.outdir}/pipeline_info"

    // Which sequencing platform was used?
    seqplatform = "PacBio"
    // seqplatform = "Illumina"

    // ITS part selector
    its_region = "full"
    //   "full" = default (full-length ITS sequence, after trimming SSU and LSU regions by ITSx)
    //   "ITS1" or "ITS2"
    //   "none" = just trim primers
    //   "ITS1_5.8S_ITS2" = assemble near-full-length ITS from ITSx output (useful in the case if primers are too close to SSU or LSU, and ITSx is not able to detect full-length sequence)
    //   "SSU" or "LSU"

    // Quality control
    qc_maxee     = null        // only for single-end reads
    qc_maxeerate = 0.01        // only for single-end reads
    qc_maxhomopolymerlen = 25  // max len of homopolymer regions (if >=, sequence will be removed)
    qc_maxn      = 4
    
    qc_avgphred = null      // Only for PE reads
    qc_twocolor = false     // reduced resolution Phred-scores (two-color Illumina chemistry)
    
    //// Conditional parameters are in separate configs
    // if(qc_twocolor == true){
    //   // params_illumina_2color.config
    //   qc_phredmin  = 24
    //   qc_phredperc = 30
    //   qc_polyglen  = 8
    // } else {
    //   // params_illumina_4color.config
    //   qc_phredmin  = null
    //   qc_phredperc = null
    //   qc_polyglen  = null
    // }


    // Is data demultiplexed?
    // If false (default), input = 1 fastq file and 1 fasta file
    // If true,            input = multiple fastq files
    demultiplexed = false

    // Demultiplexing - PacBio & LIMA
    lima_barcodetype       = "dual_symmetric"  // "single", "dual", "dual_symmetric", "dual_asymmetric"
    lima_minscore          = 93      // minimum barcode score (93 is for 12bp-long barcodes)
    lima_minendscore       = 50      // only useful for asymmetric barcoding schemes with different barcodes in a pair
    lima_minrefspan        = 0.75    // min read span relative to the barcode length
    lima_minscoringregions = 2       // for dual barcodes only (2 = requires both barcodes)
    lima_windowsize        = 70      // window size (in base pairs)
    lima_minlen            = 40      // minimum sequence length after clipping
    lima_remove_unknown    = false   // remove unknown barcode combinations (in dual-barcoding modes)

    // Demultiplexing - Illumina & cutadapt
    barcode_window  = 30
    barcode_errors  = 1
    barcode_overlap = 11

    // Illimina pair-end read assembly
    pe_minoverlap = 20
    pe_difflimit  = 5
    pe_diffperclimit = 20
    pe_nlimit = 10               // disabled
    pe_minlen = 30

    // What to do with not merged reads (Illumina-only)
    illumina_keep_notmerged = true
    illumina_joinpadgap  = "NNNNNNNNNN"
    illumina_joinpadqual = "IIIIIIIIII"  // quality score of 40


    // Primer checks
    primer_forward = "TACACACCGCCCGTCG"     // ITS9mun
    primer_reverse = "CCTSCSCTTANTDATATGC"  // ITS4ngsUni
    primer_mismatches = 2
    // primer_mismatches_insertions = 1
    // primer_mismatches_deletions = 1
    primer_foverlap = primer_forward.length() - 2
    primer_roverlap = primer_reverse.length() - 2

    // ITSx
    ITSx_evalue = 1e-1
    ITSx_partial = 0        // off, otherwise specify min length cutoff for partial ITS sequences to keep
    ITSx_tax = "all"
    ITSx_complement = "F"   // "F" (check single strand) or "T" (check both DNA strands for matches to HMM-profiles)
    /// ITSx_singledomain = true ....  optional arguments
    ITSx_to_parquet = true  // convert ITSx output (FASTA files) to Parquet

    // Primer trimming (for Illumina)
    trim_minlen = 10

    // Homopolymer compression
    hp = true
    hp_similarity = 0.999
    hp_iddef = 2

    // Reference-based chimera removal
    chimera_db = "Eukaryome_1.9.3_241222_FullITS_100-800.udb"
    chimera_rescueoccurrence = 2

    // De novo chimera identification (UCHIME1)
    chimeranov_abskew   = 2.0
    chimeranov_dn       = 1.4
    chimeranov_mindiffs = 3
    chimeranov_mindiv   = 0.8
    chimeranov_minh     = 0.28
    chimeranov_xn       = 8.0

    // Pre-clustering (for tag-jump removal)
    tj_id    = 0.99
    tj_iddef = 2

    // Tag-jump removal
    tj_f = 0.01    // UNCROSS parameter f
    tj_p = 1


    // Singleton removal
    // singleton_minrelabundance = 1   // % of sample abundance

    // Collapsing similar sequences
    // coverage


    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  Step-2 parameters

    // Path to the Step-1 results [input for Step-2]
    data_path = "${launchDir}/Step1_Results"

    // Pool sample replicates (e.g., re-sequenced samples) in the final OTU table
    merge_replicates = false

    // Filtering sequences (trimmed amplicons) by length
    ampliconlen_min = null
    ampliconlen_max = null
    // if(ampliconlen_min != null | ampliconlen_max != null){
    //   length_filtering = true
    // } else {
    //   length_filtering = false
    // }


    // Default thresholds for singleton and de novo chimera removal 
    max_MEEP         = 0.5
    max_ChimeraScore = 0.6
    recover_lowqsingletons = true
    recover_denovochimeras = true

    // Number of chunks to split the dataset into prior clustering
    chunking_n  = null  // number of chunks
    chunking_id = 0.6   // minimum sequence identity for clustering


    // Sequence denoising or pre-clustering ("none", "unoise", "dada2", "swarm_d1", "homopolymer")
    preclustering = "none"

    // Denoising with UNOISE
    unoise_alpha   = 6.0
    unoise_minsize = 1

    // Denoising with DADA2
    dada2_pooling          = "global"   // "global" or "byrun" (not implemented yet)
    dada2_nbases           = 1e6
    dada2_bandsize         = 16
    dada2_detectsingletons = true
    dada2_omegaA           = 1e-20
    dada2_omegaC           = 1e-40
    dada2_omegaP           = 1e-4
    dada2_maxconsist       = 10
    dada2_match            = 4
    dada2_mismatch         = -5
    dada2_gappenalty       = -8


    // Sequence clustering method ("none" / "vsearch" / "swarm" / "shmatching")
    clustering = "vsearch"

    // VSEARCH clustering
    otu_id    = 0.98
    otu_iddef = 2        // also for UNOISE
    otu_qmask = "dust"   // also for UNOISE

    // SWARM clustering
    swarm_d          = 1
    swarm_fastidious = true
    swarm_d1boundary = 3       // min mass of large OTUs, only for Fastidious + d=1

    // Alignment parameters
    // NB. vsearch scores = 2 * usearch scores  !!
    // E.g., "20I/2E" = penalty 20 for opening internal gaps, and 2 for opening terminal gaps (left or right)

    alignment_penalties = "default"   // alternatively, "UNITE"

    if(alignment_penalties == "UNITE"){

    // Alternative dereplication as in UNITE
    // Allow query sequences vary 4% in length at 100% similarity
    unite_querycov  = 0.96 
    unite_targetcov = 0.96 

    // VSEARCH
    vsearch_gapopen = "0I/0E"   // penalties for gap opening     (usearch, "0.0/0.0E")
    vsearch_gapext  = "2I/1E"   // penalties for gap extension   (usearch, "1.0/0.5E")

    }
    if(alignment_penalties == "default"){
    
    // VSEARCH
    vsearch_gapopen = "20I/2E"
    vsearch_gapext  = "2I/1E"
    }


    // LULU
    lulu = true
    lulu_match     = 95.0    // minimum similarity threshold (default, 84.0)
    lulu_ratio     = 1.0     // minimum abundance ratio (default, 1.0)
    lulu_ratiotype = "min"   // abundance ratio type - "min" or "avg" (default, "min")
    lulu_relcooc   = 0.95    // relative co-occurrence (default, 0.95)
    lulu_maxhits   = 0       // maximum number of hits (0 = unlimited; default, 10?)


    //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  Generic parameters


    // GZIP compression level
    gzip_compression = 7

    // The file publishing method
    storagemode = "rellink"   // "symlink", "copy", "rellink", "link", or "move"



    // Help message flag
    helpMsg = null
    help    = null

    // Generic Parameters
    validate_params     = true
    // sleep_time       = 5
    // help_all         = false

    // Boilerplate options
    version             = false
    email               = null
    email_on_fail       = null
    plaintext_email     = false


    // Max Job Request Parameters
    max_cpus              = 40
    max_memory            = "132.GB"
    max_time              = "240.h"
    // max_retry          = 3
    // min_time           = 60
    // max_downloads      = 3

    // Nextflow Configuration Parameters
    // force              = false
    // cleanup_workdir    = false

    // Nextflow Profile Parameters
    // condadir           = "${baseDir}/conda/envs"
    // use_mamba          = false
    // registry           = "quay"
    // singularity_cache  = "$HOME/.phylonext/singularity"
    // singularity_pull_docker_container = false
    // force_rebuild      = false

    // nf-core
    monochrome_logs      = false
    enable_conda         = false
    show_hidden_params   = false
    schema_ignore_params = ''

    // Parameters to ignore
    // build_all          = false
    // include_tools      = null
    // verbose            = null
    // silent             = null

    // nf-schema configuration
    showHidden = false

}


