/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Preset for paired-end short reads with binned Phred scores
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Two-colour chemistry, binned quality scores (e.g., Illumina NovaSeq 6000/X, NextSeq, MiniSeq, iSeq, MiSeq i100)
    Loss of signal is called as G, so 3' poly-G tails are trimmed prior to read merging

    Use as follows:
        nextflow run vmikk/NextITS -profile novaseq,<docker/singularity> ...

    Parameters specified on the command line take precedence over these values
----------------------------------------------------------------------------------------
*/

params {
    seqplatform  = "Illumina"
    qc_binned    = true

    // Trim 3' poly-G tails (>= 10 nt)
    qc_polyglen  = 10

    // QC of merged reads
    qc_maxee     = 2
    qc_maxeerate = 0.03

    // Read merging
    // (binned scores are less informative, more mismatches in the overlap are tolerated)
    pe_maxdiffs  = 16
    pe_pctid     = 80
}
