// Container specifications for the Singularity profile


// Image from Singularity library
process {

    container = 'library://vmiks/nextits/nextits:0-0-3'

    // // Process-specific containers
    // withLabel: 'container_1' {
    //     container = 'library://vmiks/nextits/nextits:0-0-3'
    // }
    // 
    // withLabel: 'container_2' {
    //     container = 'library://vmiks/nextits/nextits:0-0-3'
    // }

}


//// Local Singularity image file
// container = '/path/to/local/file/main_container.sif'

