// Container specifications for the Singularity profile

process {

    // Container from Singularity library
    container = 'library://vmiks/nextits/nextits:1-1-0'

    // Container from Quay.io registry [not working yet]
    // container = 'quay.io/vmikk/nextits:1.1.0'

    // Container from Docker Hub (will be converted to Singularity image)
    // container = 'vmikk/nextits:1.1.0'

    // Local Singularity image file
    // container = '/path/to/local/file/nextits-1-1-0.sif'
}
