// Container specifications for the Singularity profile

// Image from Singularity library
container = 'library://vmiks/nextits/nextits:0-0-2'


//// Local Singularity image file
// container = '/path/to/local/file/main_container.sif'

//// Process-specific containers
// process {
// 
//     withLabel: 'container_1' {
//         container = 'library://vmiks/nextits/nextits:0-0-2'
//     }
// 
//     withLabel: 'container_2' {
//         container = 'library://vmiks/nextits/nextits:0-0-2'
//     }
// 
// }

