/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests for the Step-2 of the NextITS pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run vmikk/nextits -r main -profile test2,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


// Path to test data
testdata_base_path = "${projectDir}/test_data"


process {
    resourceLimits = [
        cpus: 4,
        memory: '8.GB',
        time: '10.m'
    ]
}

params {

    data_path        = "${testdata_base_path}/Test_S2"
    step             = "Step2"
    outdir           = "NextITS_Test_Step2"
    merge_replicates = false
    max_MEEP         = 0.5
    max_ChimeraScore = 0.6
    preclustering    = "unoise"
    unoise_alpha     = 6.0
    unoise_minsize   = 1
    clustering       = "vsearch"
    otu_id           = 0.98
    lulu             = false

    storagemode = "copy"
}
