/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests for the Step-1 of the NextITS pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run vmikk/nextits -r main -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


// Path to test data
testdata_base_path = "${projectDir}/test_data"


process {
    resourceLimits = [
        cpus: 4,
        memory: '8.GB',
        time: '10.m'
    ]
}

params {

    input          = "${testdata_base_path}/Test_Step1.fastq.gz"
    barcodes       = "${testdata_base_path}/Test_Step1_barcodes.fasta"
    primer_forward = "TACACACCGCCCGTCG"                                     // ITS9mun
    primer_reverse = "CCTSCSCTTANTDATATGC"                                  // ITS4ngsUni
    chimera_db     = "${testdata_base_path}/Test_ChimeraDB.udb"
    step           = "Step1"
    its_region     = "full"
    ITSx_tax       = "fungi"
    outdir         = "NextITS_Test_Step1"

    storagemode = "copy"
}
